.btn {
  margin-right: 10px;
}

.topnav {
  
  overflow: hidden;
  background-color: navajowhite;
}

.topnav-right {
  margin-right: 50px;
  float: right;
}
header {
  top: 0;
  width: 100%;
  text-align: center;
}